---
layout: page
title: 
permalink: /video/2020/softball/
youtubeId: XZ8abxL52h0
youtubeId2: GwaDV4CDF4Q
youtubeId3: QpMD051VTl0
youtubeId4: 0f3C0wFri2k
youtubeId5: k1v2RE_KZ24
youtubeId6: tKVbJihsi3w
youtubeId7: KR9ilmlut4c
layout: page
sitemap: false
---


<strong>Carmen (oops, I mean Gabbie) getting back into softball. <br>
Had a blast for the time it lasted - COVID-19 shut everything down.</strong>
<br>
<br>
{% include youtubePlayer.html id=page.youtubeId %}
{% include youtubePlayer.html id=page.youtubeId2 %}
{% include youtubePlayer.html id=page.youtubeId3 %}
{% include youtubePlayer.html id=page.youtubeId4 %}
{% include youtubePlayer.html id=page.youtubeId5 %}
{% include youtubePlayer.html id=page.youtubeId6 %}
{% include youtubePlayer.html id=page.youtubeId7 %}
