---
layout: page
title: 
permalink: /video/2019/dojo-boom/
youtubeId: 03X_K0573VQ
youtubeId2: My8RKRprTGs
youtubeId3: 1HTwXNpIxI0
youtubeId4: J4YyMVcZH7w
youtubeId5: WEcKTTg2RHw
youtubeId6: QDPNB9dgjXw
youtubeId7: -7FxzhWA7Fc
youtubeId8: hhGfaciNPoo
youtubeId9: lbc0mEFkIV4
youtubeId10: r_3FVRInSZw
youtubeId11: gvP8aP_ob_4
layout: page
sitemap: false
---


<strong>Carmen enjoying time at Dojo Boom in Thousand Oaks, CA!</strong>
<br>
<br>
{% include youtubePlayer.html id=page.youtubeId %}
{% include youtubePlayer.html id=page.youtubeId2 %}
{% include youtubePlayer.html id=page.youtubeId3 %}
{% include youtubePlayer.html id=page.youtubeId4 %}
{% include youtubePlayer.html id=page.youtubeId5 %}
{% include youtubePlayer.html id=page.youtubeId6 %}
{% include youtubePlayer.html id=page.youtubeId7 %}
{% include youtubePlayer.html id=page.youtubeId8 %}
{% include youtubePlayer.html id=page.youtubeId9 %}
{% include youtubePlayer.html id=page.youtubeId10 %}
{% include youtubePlayer.html id=page.youtubeId11 %}
