---
layout: page
title: 
permalink: /video/2019/huntington-beach/
youtubeId: 4LymhpvEgic
youtubeId2: PBA7Z_eRMRU
youtubeId3: Wjbu4yIbOOM
youtubeId4: R7fbTUm9QH0
youtubeId5: 77blZN71ycg
layout: page
sitemap: false
---


<strong>Hanging out at Huntington Beach!</strong>
<br>
<br>
{% include youtubePlayer.html id=page.youtubeId %}
{% include youtubePlayer.html id=page.youtubeId2 %}
{% include youtubePlayer.html id=page.youtubeId3 %}
{% include youtubePlayer.html id=page.youtubeId4 %}
{% include youtubePlayer.html id=page.youtubeId5 %}